.roster-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding-top: .5rem;
}

.roster-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.roster-filter {
  margin: .5rem;
  display: flex;
}

.calendar {
  width: auto;
  margin-right: 1rem;
}

.calendar:focus {
  outline: none;
}