.stat-leaders-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: .5rem;
}

.stat-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.stat-search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: inherit;
}

.stat-search-form button {
  margin: .5rem;
}

.form-item{
  padding: .5rem .25rem 0 0;
}

#stat-season-input {
  width: 3.5rem;
}