.scoretable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  border-left: 1px solid black;
}

.scoretable span {
  padding: 1rem;
}