.division {
  padding: 1rem;
  width: 100%;
}

.teams-table {
  border-collapse: collapse;
  font-size: large;
  width: 100%;
}

.teams-table-head {
  border: 1px solid gray;
}

.teams-table-head th {
  border-left: 1px solid gray;
}

.team-row {
  border: 1px solid gray;
}

.team-row td {
  border-left: 1px solid gray;
}

.team-row td:hover {
  background-color: lightgray;
}

.team-link {
  text-decoration: none;
  color: black;
}

.team-names {
  padding: 0 1rem;
}

.wins {
  padding: 0 .5rem;
}

.losses {
  padding: 0 .5rem;
}

.win-pct {
  padding: 0 .5rem;
}

.games-back {
  padding: 0 .5rem;
}

@media screen and (max-width: 600px) {
  .division {
    padding: 1rem 0 1rem 0;
  }
}