.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 1rem 0 1rem;
}

.header {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.leagues {
  list-style: none;
  padding: 2rem;
}

.leagues p {
  font-size: 1.5rem;
  font-weight: 700;
}

.league {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
}

.league a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.league-logo {
  width: '100%';
  height: 'auto';
}

@media screen and (max-width: 768px) {
  .league-logo {
    width: 50%;
    height: auto;
    margin: 0 auto 0 auto;
  }

  .league {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
  }

  .leagues {
    width: 100%;
  }
}
