.player-table {
  border-collapse: collapse;
  font-size: large;
  width: 100%;
  text-align: left;
  table-layout: fixed;
}

.player-table td {
  border-bottom: 1px solid gray;
  padding: .25rem 0 .25rem 0;
}

.player-table tr {
  border-bottom: 1px solid gray;
}

.player-table tbody tr:hover {
  background-color: rgb(235, 189, 189);
}
