.side-note {
    font-style: italic;
    color: gray;
    font-size: small;
    margin-left: .25rem;
}

.scoreboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}